:root{
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 70px;
    font-family: "Righteous", sans-serif;
    color: var(--secundary-color);
}

.header{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 17px;
}

.header span {
    font-size: 32px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sombra {
    position: absolute;
    font-size: 27vw;
    z-index: -99;
    top: 10%;
    color: #fff5;
}

h1{
    font-size: 20vw;
    color: white;
}
.container {
    display: flex;
    align-items: center;
}
.container h2 {
    font-size: 64px;
}

.container p {
    font-size: 20px;
    width: 40%;
}

.container a {
    width: 410px;
    height: 100px;
    background-color: var(--secundary-color);
    text-decoration: none;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    font-size: 48px;
}

.pikachu {
    position: absolute;
}

footer {
    height: 50px;
    text-align: center;
}

/* TABLET */
@media (max-width: 1024px) {
    body {
        padding: 30px;
    }
    .sombra{
        top: 2%;
    }
    main {
        justify-content: space-between;
    }
    .container {
        flex-direction: column;
        gap: 8px;
    }

    .container p {
        width: 70%;
        text-align: center;
    }

    .descricao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        display: none;
    }
    .pikachu {
        top: 25%;
    }

}

/* MOBILE */
@media (max-width: 480px) {
    .sombra {
        top: 10%
    }

    .descricao h2 {
        font-size: 38px;
    }
    .descricao p {
        display: none;
    }

    .container a {
        width: 100%;
    }

    .pikachu {
        height: 50%;
    }
}